/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

/* Logo */
#logo {
    max-width: 100px;
    height: auto;
}

/* Headings */
h1 {
    font-size: 2em;
    margin: 20px 0;
}

#utt {
    width: 30%;;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.whitetext {
    color: #eeeeee;
}

/* Borderline */
.borderline {
    border-top: 2px solid #000;
    margin: 20px 0;
}

/* Paragraph */
.small-text {
    font-size: 1em;
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form Styles */
form, .whitetext {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff50;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#submit-message {
    text-align: center;
    margin: 20px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .small-text {
        font-size: 0.9em;
    }

    form {
        padding: 15px;
    }

    button {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    .small-text {
        font-size: 0.8em;
    }

    form {
        padding: 10px;
    }

    button {
        padding: 8px;
    }
}
